<header class='max-w-7xl mx-auto p-4'>
  <nav class='w-full flex justify-between items-center'>
    <a href='/'><h1>SafeMap</h1></a>
    <div class='rounded-full border bg-transparent px-4 py-2 flex gap-4'>
      <a class='text-white rounded-full' href='/login'>Iniciar Sesión</a><a
        class='bg-whitecc'>Registrarse</a
      >
    </div>
  </nav>
</header>
